body{
    margin: 0;
    background-color: rgb(252, 252, 205)!important;
}
header {
    display:flex;
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    border-bottom: 3px solid  rgb(63, 63, 63);
    top: 0;

    & > a {
        text-decoration: none;

        & > h2 {
            letter-spacing: 2px;
            font-size: 40px;
            margin-left: 2rem;
            font-family: "Bungee", sans-serif;
            font-weight: 900;
            transform: skewY(3deg) skewX(10deg);
            border-radius: 10px;
            border-bottom: 5px solid rgb(9, 235, 167);
            width: 14rem;

            & > span:nth-child(1) {
                color: #A7C7E7;
            }
            & > span:nth-child(2) {
                color: #F8DE7E;
            }
            & > span:nth-child(3) {
                color: #FFB6C1;
            }
            & > span:nth-child(4) {
                color: #B5E7A0;
            }
            & > span:nth-child(5) {
                color: #FFD580;
            }
            & > span:nth-child(6) {
                color: #D8BFD8;
            }
            & > span:nth-child(7) {
                color: #FF7F7F;
            }
        }
    }

    & > nav {
        display: flex;
        gap: 2.5rem;
        margin-right: 1rem;
        align-items: center;

        & > .btn{
            display: flex;
            background-color: rgb(246, 119, 212);
            color: white;
            border-radius: 20px;
            width: 7rem;
            height: 2.2rem;
            justify-content: center;
            align-items: center;
            border: none;
            gap: 7px;
            font-size: 13px;
            font-weight: 600;

            &:hover{
                background-color: rgb(9, 235, 167);
                color: black;
            }
        }

        & > .dropdown-menu{
            background-color: white;

            & > li > a{
                font-size: 12px;
            }
        }

        & > a {
            text-decoration: none;

            & > button {
                display: flex;
                color: white;
                height: 2.2rem;
                width: 5rem;
                gap: 10px;
                justify-content: center;
                align-items: center;
                border: none;
                background-color: transparent;
                font-weight: 600;

                &:hover{
                color: rgb(246, 119, 212);
                border-bottom: 3px solid lightgreen;
                }
            }
        }

        & > .hamburger{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
        }

        & > .btn:nth-child(6){
            display: flex;
            border: 3px solid rgb(9, 235, 167);
            color: white; 
            border-radius: 10px;
            width: 4rem;
            height: 2.2rem;
            justify-content: center;
            align-items: center;
            font-size: 13px;

            &:hover{
                background-color: rgb(9, 235, 167)!important;
                color: black;
            }
        }

        & > .dropdown-menu{
            background-color: white;

            & > li > a{
                font-size: 12px;
            }
        }

        & > .dropdown-toggle::after {
            display: none !important;
        }
    }

    & > .hamburger {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: white;
        display: none;
    }
}

::-webkit-scrollbar {
    width: 1.1rem; /* Width of the scrollbar */
    scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(251, 149, 165);
    outline: 3px solid black;
}

::-webkit-scrollbar-thumb:hover {
    background-color: lightblue;
}

::-webkit-scrollbar-track {
    background: violet;
    outline: 3px solid black;
}

.section1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 10vh;

    & > nav{
        width: 100%;
        height: 10vh;
        border-bottom: 2px solid black;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        align-items: center;
        justify-content: center;
        padding-right: 2rem;
        position: fixed;
        background-color: rgb(252, 252, 205);

        & > .create-btn{
          display: flex;
          width: 8rem;
          height: 2.5rem;
          justify-content: center;
          align-items: center;
          gap: 4px;
          background-color: rgb(3, 169, 3);
          color: white;
          font-size: 15px;
          border: none;
          border-radius: 20px;
        }

        & > .fetch-btn{
          display: flex;
          width: 8rem;
          height: 2.5rem;
          justify-content: center;
          align-items: center;
          gap: 4px;
          background-color: blueviolet;
          color: white;
          font-size: 15px;
          border: none;
        }
        
        & > form {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          flex-direction: row;

       & >  .input-holder {
          display: flex;
          line-height: 30px;
          align-items: center;
          position: relative;
          width: 15rem;
          height: 3rem;

          & > button {
              position: absolute;
              right: 0;
              fill: none;
              width: 3rem;
              height: 45px;
              color: rgb(65, 65, 65);
              background-color: rgba(128, 128, 128, 0.715);
              border: none;
              color: white;
              border-radius: 10px;
          }

          & > input {
            width: 100%;
            height: 45px;
            line-height: 30px;
            padding: 0 1rem;
            padding-right: 3rem;
            border: 2px solid transparent;
            border-radius: 10px;
            outline: none;
            background-color: #5454548d;
            color: black;
            transition: .5s ease;

            &::placeholder{
                color: #ffffff;
                font-size: 15px;
              }
            
            &:focus, &:hover {
              outline: none;
              border-color: blueviolet;
              background-color: rgb(252, 252, 205);
              box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);

              &::placeholder{
                color: black;

              }
            }
          }
        }
        }
    }

    & > .initial-display{
        display: flex;
        height: 80vh;
        width: 100%;
        background-color: rgb(252, 252, 205);
       
    }

    & > .user-container{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        background-color: rgb(252, 252, 205);
        gap: 3rem;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        margin-top: 10vh;
      
        & .container{
            display: flex;
            flex-direction: column;
            height: 22rem;
            width: 20rem;
            background-color: rgba(128, 128, 128, 0.426);
            align-items: center;
            cursor: pointer;
            margin-bottom: 2rem;
            border-radius: 20px;
            border: 2px solid white;

            & > .top{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 30%;
                font-size: 4rem;
                border-bottom: 3px solid black;
            }

            & > .bottom{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 70%;
                flex-direction: column;
                
                & > div{
                    display: flex;
                    width: 100%;
                    height: 3rem;
                    border-bottom: 3px solid black;
                    flex-direction: row;

                    & > .left {
                        display: flex;
                        width: 20%;
                        font-size: 1rem;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                    }

                    & > .right{
                        display: flex;
                        font-size: 12px;
                        align-items: center;
                        justify-content: flex-start;
                        width: 80%;
                        height: 100%;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
    & > .modal {
        display: none; /* Hidden by default */
        position: fixed;
        z-index: 1;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4); /* Black with opacity */
        padding-top: 10vh;

        & > .modal-content {
            display: flex;
            flex-direction: row;
            height: 75vh;
            width: 30%;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
            border: 4px solid black;
            background-color: whitesmoke;

      & > .close {
        color: black;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        right: 0;
        align-self:flex-start;
        padding-right: 1rem;
    
        &:hover, &:focus {
          color: blueviolet;
          text-decoration: none;
          cursor: pointer;
        }
      }   
          & > .edit-modal {
            display: flex;
            flex-direction: column;
            width: 70%;
            height: 100%;
            align-items: center;
            justify-content: center;
          
            & > form {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
              gap: 1rem;
        
              & > b{
                font-family: "Bungee", sans-serif;
                font-size: 20px;
                color: rgb(23, 23, 21);
              }
        
              & > .input-holder {
                display: flex;
                line-height: 30px;
                align-items: center;
                position: relative;
                width: 17rem;
                height: 3rem;

                & > i {
                  position: absolute;
                  left: 1rem;
                  fill: none;
                  width: 1rem;
                  height: 1rem;
                  color: rgb(65, 65, 65);
                }
      
                & > input {
                  width: 100%;
                  height: 50px;
                  line-height: 30px;
                  padding: 0 1rem;
                  padding-left: 3rem;
                  border: 2px solid transparent;
                  border-radius: 10px;
                  outline: none;
                  background-color: #5454548d;
                  color: black;
                  transition: .5s ease;
      
                  &::placeholder{
                      color: #ffffff;
                      font-size: 15px;
                    }
                  
                  &:focus, &:hover {
                    outline: none;
                    border-color: blueviolet;
                    background-color: rgb(252, 252, 205);
                    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
      
                    &::placeholder{
                      color: black;
      
                    }
                  }
                }
                
              }
              & > button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(3, 169, 3);
                border: none;
                cursor: pointer; 
                width: 17rem;
                height: 3rem;
                color: white;
                border-radius: 10px;
                margin-top: 10px;
                font-weight: 600;
                gap: 10px;

                &:hover {
                  color: black;
                }
              }
            }
            & > button {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: rgb(187, 4, 4);
              border: none;
              cursor: pointer; 
              width: 17rem;
              height: 3rem;
              color: white;
              border-radius: 10px;
              margin-top: 10px;
              font-weight: 600;
              gap: 10px;
              &:hover {
                color: black;

              }
            }          
        }
        
        & > .create-modal {
            display: none;
            flex-direction: column;
            width: 70%;
            height: 60%;
            align-items: center;
            justify-content: center;
      
            & > b{
              font-family: "Bungee", sans-serif;
              font-size: 20px;
              color: rgb(23, 23, 21);
              margin-bottom: 2rem;
            }
      
            & > form {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
              gap: 1rem;
      
              & > .input-holder {
                display: flex;
                line-height: 30px;
                align-items: center;
                position: relative;
                width: 17rem;
                height: 3rem;
      
                & > i {
                  position: absolute;
                  left: 1rem;
                  fill: none;
                  width: 1rem;
                  height: 1rem;
                  color: rgb(65, 65, 65);
                }
      
                & > input {
                  width: 100%;
                  height: 50px;
                  line-height: 30px;
                  padding: 0 1rem;
                  padding-left: 3rem;
                  border: 2px solid transparent;
                  border-radius: 10px;
                  outline: none;
                  background-color: #5454548d;
                  color: black;
                  transition: .5s ease;
      
                  &::placeholder{
                      color: #ffffff;
                      font-size: 15px;
                    }
                  
                  &:focus, &:hover {
                    outline: none;
                    border-color: blueviolet;
                    background-color: rgb(252, 252, 205);
                    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
      
                    &::placeholder{
                      color: black;
      
                    }
                  }
                }
                
              }
              & > button {
                background-color: blueviolet;
                border: none;
                cursor: pointer; 
                width: 17rem;
                height: 4rem;
                color: white;
                border-radius: 20px;
                margin-top: 10px;
                font-weight: 600;
                
                &:hover {
                  background-color: rgb(166, 99, 230);
                  color: black;
                }
              }
            }          
        }
}
}
}

  .swal2-popup {
    background-color: blueviolet !important; /* Dark mode background */
    color: white !important; /* White text */
    border-radius: 10px !important; /* Rounded corners */
}
.swal2-success-ring {
  border-color: white !important; /* Outer ring color */
}
